extends ./layout.jade

block container
  .container
    h4.mt-5
      | #{lesson.task.title}
    hr
    
    if lesson
      form(method='POST', type="form")
        input(type="hidden", name="_csrf", value="#{csrf}")
        input(type="hidden", name="action", value="PUT")

        .form-group
          label(for="title")
            | Заголовок
          input(id="title", class="form-control", type="text", name="title", value="#{lesson.task.title}", placeholder="title", required)

        .form-group
          label(for="description")
            | Описание
          input(id="description", class="form-control", type="text", name="description", value="#{lesson.task.description}", placeholder="description", required)

        .form-group
          label(for="picture")
            | Картинка
          input(id="picture", class="form-control", type="text", name="picture", value="#{lesson.task.picture}", placeholder="picture")

        .form-check
          label(for="locked", class="form-check-label")
            | Урок закрыт
            input(id="locked", class="form-check-input", type="checkbox", name="islocked", checked=(lesson.isLocked ? "checked" : null))

        .form-group
          label(for="resources")
            | Ресурсы
          textarea(id="resources", class="form-control", name="resources", placeholder="формат типа: [title](link),[title](link),...")
            | #{resources}

        .form-group
          label(for="exercises")
            | Ресурсы
          textarea(id="exercises", class="form-control", name="exercises", placeholder="Markdown формат")
            | #{lesson.task.exercises}

        input(type="submit", class="btn btn-primary", value="Сохранить")
    else
      h1
        | Урок не найден
