extends ./index.jade

block content
  unless lesson
    span.alert.alert-info.d-inline-block(role="alert")
      | Урок не найден
  else if lesson.isLocked
    span.alert.alert-info.d-inline-block(role="alert")
      | Урок ещё недоступе
  else
    h2
      | !{lesson.task.title}
    p.clearfix
      a(href="#{lesson.task.picture}" target="_blank")
        img.float-left.rounded.lesson-picture(src="#{lesson.task.picture}", alt="Картинка для урока")
      | !{lesson.task.description}
    
    if lesson.task.resources.length > 0
      h3
        | Ресурсы:
      ul.list-unstyled
        each val in lesson.task.resources
          li
            a(href="#{val.link}", target="_blank")
              | #{val.title}
    
    if lesson.task.exercises
      h3
        | Задачи:
      div
        | !{lesson.task.exercises}
